.navBar__container{
    position: sticky;
    bottom: 0;
    z-index: 1;
    background-color: rgb(206, 206, 206);
}

.navBar__position{
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
}

.navBar__hambur{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 5px;
}
.menu__hambur{
    background-color: rgb(22, 22, 22);
    color: white;
    border: 1px black solid;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.navBar__menu{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to right top, #000000, #0b0b0b, #141414, #1a1a1a, #202020, #2c2c2c, #383838, #444444, #595959, #707070, #878787, #9f9f9f);
    clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
    transition: 0.3s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* .ancor{
    background-color: rgb(44, 44, 44);
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px rgb(206, 206, 206) solid;
    border-bottom: 1px rgb(206, 206, 206) solid;
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
} */

.show{
    clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 0);
    transition: 0.4s;
}

.logo__navBar{
    display: none;
}

.title__navBar{
    display: none;
}

.logo__container{
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.text__logo{
    font-size: 2rem;
    font-weight: bold;
    z-index: 1;
    text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.13);
}
.shadow{
    position: absolute;
    top: 50%;
    left: 1%;
    width: 290px;
    height: 0.000000000001px;
    background-color: transparent;
    box-shadow: 1px 0px 40px 11px rgba(0,0,0,1);
    -webkit-box-shadow: 1px 0px 40px 11px rgba(0,0,0,1);
    -moz-box-shadow: 1px 0px 40px 11px rgba(0,0,0,1);
}
.logaso{
    z-index: 1;
}

@media screen and (min-width: 769px){
    .navBar__position{
        flex-direction: column;
    }
    .navBar__container{
        position: absolute;
        top: 0;
        background-color: transparent;
        width: 100vw;
        height: 10vh;
        display: flex;
        align-items: center;
        justify-content: space-between;

    }
    .menu__hambur{
        display: none;
    }
    .logaso{
        width: 100px;
    }
    .navBar__menu{
        position: absolute;
        height: 100%;
        right: 10%;
        flex-direction: row;
        clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 0);
        width: 300px;
        background-image: none;
    }
/*     .ancor{
        background-color: transparent;
    } */
    .logo__navBar{
        display: block;
        width: 50px;
    }
    
    .title__navBar{
        display: block;
        font-size: 1.5rem;
        color: white;
    }
    
}